.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.eslintrc.json
tsconfig.json
vsc-extension-quickstart.md
esbuild.config.mjs
webview/node_modules/**
webview/src/**
webview/public/**
webview/*.json
webview/*.ts
node_modules/**
**/*.map
**/*.ts
**/*.tsx
**/*.py
**/.venv/**
**/.idea/**
**/.env*
.git/**
.gemini/**
GEMINI.md
main.py
!webview/dist/**
