.vscode/**
.vscode-test/**
out/**
src/**
.gitignore
.eslintrc.json
tsconfig.json
vsc-extension-quickstart.md
esbuild.config.mjs
webview/**
!webview/dist/**
node_modules/**
**/*.map
**/*.ts
**/*.tsx
**/*.py
**/*.venv
**/*.idea
.git/**
.gemini/**
GEMINI.md
main.py
